body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 30px;
}

.center {
  display: flex;
  gap: 5rem;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
}

.center a {
  text-decoration: none;
  color: gray;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 20px;
}


.logos {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
}


.social-icons {
  display: flex;
  gap: 1rem;
  color: black;
  font-size: 20px;
}

.fa-football {
  font-size: 30px;
  transform: rotate(135deg);
  color: red;
}

.atag4 {
  margin-right: 10px;
}


.login {
  border: 0;
  height: 20px;
  background-color: white;
}



.center {
  color: red;
  transition: color 0.3s;
}

.center a:hover {
  color: red;
}


.newscard9 {
  grid-template-columns: repeat(9.1fr);
  grid-template-rows: repeat(22.1fr);
}

.edit {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);

}


.firstbackground {
  background-image: url(./blogphotos/blogfirst.avif);
  height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
}

.iconebi {

  display: flex;
  font-size: 50px;
  gap: 2em;
  margin-left: 10em;
  padding-top: 2rem;


}


.marign {
  gap: 2rem;
}

.pirveli a:hover {
  color: red;


}





.fa-solid {
  text-decoration: none;
  color: black;
  font-size: 20px;
}




.pirveli {
  text-decoration: none;
  color: black;
  font-size: 20px;

}

.meore {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.mesame {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.meoTxe {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.mexute {
  text-decoration: none;
  font-size: 20px;
  color: black;
}


.fa-solid:hover {
  color: rgb(255, 0, 0);
}



.pirveli:hover {
  color: rgb(255, 0, 0);
}

.meore:hover {
  color: rgb(255, 0, 0);
}

.mesame:hover {
  color: rgb(255, 0, 0);
}

.meoTxe:hover {
  color: rgb(255, 0, 0);
}

.mexute:hover {
  color: rgb(255, 0, 0);
}





.line {
  border: 1px orangered solid;
  width: 77px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 57rem;
}

.latest {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  padding-top: 5rem;
}

.news {
  color: orangered;
}


.paragraph {
  font-weight: bolder;
  font-style: normal;
  padding-top: 1rem;
}

.asd123 {
  background-image: url(./blogphotos/blogfirst.avif);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}











.div-card11 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;

  padding-top: 20px;
}

.xzc312 {
  grid-column: 3/4;
}

.as10P {
  grid-column: 2/3;
}

.SD21 {
  grid-column: 2/2;
}

.nmnmnm {
  width: 5px;
}

.D12 {
  width: 350px;
}

.vardy11 {
  max-width: 350px;
}


.b12 {
  width: 350px;
}


.A12 {
  width: 350px;
}

.C12 {
  width: 350px;
}


.card11 {
  width: 750px;
}

.card22 {
  width: 750px;
}

.card33 {
  width: 750px;

}

.card44 {
  width: 750px;
}



@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .center {
    margin-left: 0;
    margin-top: 10px;
  }

  .card3fgdgsffds1321321 {
    padding-left: 0;
    padding-top: 2rem;
    width: 100%;
  }
}




