body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 30px;
}

.center {
  display: flex;
  gap: 5rem;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
}

.center a {
  text-decoration: none;
  color: gray;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 20px;
}


.logos {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
}


.social-icons {
  display: flex;
  gap: 1rem;
  color: black;
  font-size: 20px;
}

.fa-football {
  font-size: 30px;
  transform: rotate(135deg);
  color: red;
}

.atag4 {
  margin-right: 10px;
}


.login {
  border: 0;
  height: 20px;
  background-color: white;
}



.center {
  color: red;
  transition: color 0.3s;
}

.center a:hover {
  color: red;
}


.newscard9 {
  grid-template-columns: repeat(9.1fr);
  grid-template-rows: repeat(22.1fr);
}

.edit {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);

}


.firstbackground {
  background-image: url(./blogphotos/blogfirst.avif);
  height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
}

.iconebi {
  display: flex;
  font-size: 50px;
  gap: 2em;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;

}


.marign {
  gap: 2rem;
}

.pirveli a:hover {
  color: red;


}





.fa-solid {
  text-decoration: none;
  color: black;
  font-size: 20px;
}




.pirveli {
  text-decoration: none;
  color: black;
  font-size: 20px;

}

.meore {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.mesame {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.meoTxe {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.mexute {
  text-decoration: none;
  font-size: 20px;
  color: black;
}


.fa-solid:hover {
  color: rgb(255, 0, 0);
}



.pirveli:hover {
  color: rgb(255, 0, 0);
}

.meore:hover {
  color: rgb(255, 0, 0);
}

.mesame:hover {
  color: rgb(255, 0, 0);
}

.meoTxe:hover {
  color: rgb(255, 0, 0);
}

.mexute:hover {
  color: rgb(255, 0, 0);
}





.line {
  display: flex;
  border: 1px orangered solid;
  width: 77px;
 justify-content: center;
  align-items: center;
}

.latest {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  padding-top: 5rem;
  border-bottom: 1px solid orangered;
  
}

.news {
  color: orangered;
}


.paragraph {
  font-weight: bolder;
  font-style: normal;
  padding-top: 1rem;
}

.asd123 {
  background-image: url(./blogphotos/blogfirst.avif);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.rumors-cards-main{
  display: flex;
  margin-left: 30rem;
  gap: 2rem;
}

.suratidasdasaa {
  width: 454px;
}

.rumor-card1 {
  padding-top: 5rem;
}

.rumors-cards-main{
  /* display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr); */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  
  align-items: flex-end;
  justify-content: flex-end;
}

.rumor-card3{
  padding-top: 5rem;
  grid-column: 2/2;
  grid-row: 2/2;
}

.rumorcar2 {
  padding-top: 5rem;
}





.suratisqvemota {
  width: 354px;
  height: 230px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 1rem;
}



@media (max-width: 1024px) {
  .header {
    font-size: 24px;
    padding: 1rem;
  }

  .center {
    gap: 3rem;
  }

  .latest {
    font-size: 40px;
  }

  .rumors-cards-main {
    margin: 3rem auto 2rem;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .center {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: right 0.3s ease;
    z-index: 1000;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .center.active {
    right: 0;
  }

  .logos {
    gap: 0.5rem;
  }

  .social-icons {
    gap: 0.5rem;
    font-size: 16px;
  }

  .login {
    font-size: 12px;
  }

  .firstbackground {
    height: 15rem;
  }

  .latest {
    font-size: 32px;
    padding-top: 3rem;
  }

  .paragraph {
    font-size: 14px;
    padding: 1rem;
  }

  .iconebi {
    gap: 1rem;
    padding: 2rem 1rem;
    font-size: 16px;
  }

  .pirveli,
  .meore,
  .mesame,
  .meoTxe,
  .mexute {
    font-size: 16px;
  }

  .rumors-cards-main {
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 0 1rem;
    gap: 2rem;
  }

  .card6,
  .card2,
  .card7 {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .crows-win123 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5rem 1rem;
    font-size: 20px;
  }

  .logo {
    font-size: 16px;
  }

  .fa-football {
    font-size: 24px;
  }

  .center {
    width: 80%;
  }

  .social-icons {
    font-size: 14px;
  }

  .firstbackground {
    height: 12rem;
  }

  .latest {
    font-size: 24px;
    padding-top: 2rem;
  }

  .paragraph {
    font-size: 12px;
  }

  .iconebi {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .crows-win123 {
    font-size: 18px;
  }
}