* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.logo-main{
 padding-top: 10px;
}

.header {
  position: relative;
  align-items: center;  
  justify-content: space-between;
  max-width: 50vw;
  max-height: 50px;
  gap: 20px;
  font-size: 24px;
  margin: 10px;
}

.aN1{
  color: red;
}

.nav1{  
position: relative;
top: 3px;
max-width: 20%
}


.nav2{
  position: relative;
  left: 20%;
  bottom:  23px;
  max-width: 20%
}


.nav3{
  position: relative;
  left: 40%;
  bottom: 50px;
  max-width: 20%
}


.nav4{
  position: relative;
  left: 60%;
  bottom: 75px;
  max-width: 20%
}



.nav5{
  position: relative;
  left: 90%;
  bottom: 100px;
  max-width: 20%
}


.fa-circle-user{
  position: relative;
  left: 185%;
  bottom: 65px;
}


.fa-facebook-f{
  position: relative;
  left: 169%;
  bottom: 90px;
}

.fa-twitter{
  position: relative;
  left: 174%;
  bottom: 119px; 
}


.fa-youtube{
  position: relative;
  left: 179%;
  bottom: 145px; 
}

.new {
  font-size: clamp(24px, 4vw, 60px);
}

.nav {
  max-height: 50px;
  position: relative;
  gap: 34px;
  justify-content: flex-end;
  left: 100%;
  bottom: 25px;
  justify-content: space-between;
}

.nav a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: red;
}



.background {
  background-image: url(first.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
}






 .first-comment {
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 80px auto;
  border: 2px solid black;
  position: relative;
  bottom: 700px;
  max-width: 800px;
  height: 400px; 
 
    
}


.first-img-comment {
  max-width: 400px;
  height: 400px;
  grid-row: 1/3;
  grid-column: 1/2;
}


 .comment-text {
  background: white;
  text-align: center;
  grid-row: 1/1;
  grid-column: 2/3;
  max-width: 400px;
  height: 400px;
} 
 

.mini1{
  display: grid;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr); */
  margin: 80px auto;
  border: 2px solid wheat;
  position: relative;
  bottom: 600px;
  max-width: 220px;
  height: 300px;
  justify-content: right;
  
}


.mini-content{
  background: #fff;
  padding-left: 10px;
  grid-column: 2/2;
  grid-row: 2/3;
  max-width: 320px;
  max-height: 149px;
  font-weight: 900;
  font-size: 25px;
}

.mini-grid {
  gap: 24px;
  max-width: 1100px;
  margin: auto;
}

.miniimg {
  grid-row: 1/2;
  grid-column: 2/2;
  max-width: 100%; 
  max-height: 350px;
  object-fit: cover;
  border: 1px solid ;

}

.mini-content {
  font-size: 16px;
  line-height: 1.4;
}



.footer {
  text-align: center;
  border-top: 2px solid black;
}



.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 53%;
  transform: translateX(-50%);
  font-size: 30px;
}



.span-text {
  font-size: 20px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.span213 {
  font-size: 80px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.black {
  color: black;
}

.red {
  color: red;
}

.spanN3 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sadsfr{
  text-decoration: none;
}

.fastman1 {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  top: 10%;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}


.more-txt1 {
  justify-content: left;
  text-align: left;
  font-size: 20px;
  position: relative;
  top: 15%;
  margin-top: 20px;
}


.comment-footer {
  position: relative;
  top: 47%;
}

.gasworeba {
  position: absolute;
  left: 20px;
  top: 0px;
}

.heart {
  position: absolute;
  right: 20px;
  top: 0px;
}


.admin-txt {
  position: absolute;
  bottom: 92%;
  left: 65%;
  transform: translateX(-50%);
  font-size: 14px;
  color: gray;
  justify-content: space-between;
}


.wertili {
  position: absolute;
  bottom: 90%;
  left: 66%;
  transform: translateX(-50%);
  font-size: 60px;
  color: rgb(0, 0, 0);
}



.likes1{
  position: absolute;
  left: 180px;
  top: 280px;
  font-size: 10;
}



.gasworeba1{
  position: absolute;
  left: 0px;
  top: 280px;
}


.bigpapaGRID{
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}





.second-background{
  background-image: url(second-background.png);
     background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
  }



.mini2{
  display: grid;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr); */
  margin: 80px auto;
  border: 2px solid wheat;
  position: relative;
  bottom: 600px;
  max-width: 220px;
  height: 300px;
  justify-content: right;
  
}


.mini-content{
  background: #fff;
  padding-left: 10px;
  grid-column: 2/2;
  grid-row: 2/3;
  max-width: 320px;
  max-height: 149px;
  font-weight: 900;
  font-size: 25px;
}

.mini-grid {
  gap: 24px;
  max-width: 1100px;
  margin: auto;
}

.miniimg {
  grid-row: 1/2;
  grid-column: 2/2;
  max-width: 100%; 
  max-height: 350px;
  object-fit: cover;
  border: 1px solid ;

}

.mini-content {
  font-size: 16px;
  line-height: 1.4;
}


.mini3{
  display: grid;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr); */
  margin: 80px auto;
  border: 2px solid wheat;
  position: relative;
  bottom: 600px;
  max-width: 220px;
  height: 300px;
  justify-content: right;
  
}


.mini-content{
  background: #fff;
  padding-left: 10px;
  grid-column: 2/2;
  grid-row: 2/3;
  max-width: 320px;
  max-height: 149px;
  font-weight: 900;
  font-size: 25px;
}

.mini-grid {
  gap: 24px;
  max-width: 1100px;
  margin: auto;
}

.miniimg {
  grid-row: 1/2;
  grid-column: 2/2;
  max-width: 100%; 
  max-height: 350px;
  object-fit: cover;
  border: 1px solid ;

}

.mini-content {
  font-size: 16px;
  line-height: 1.4;
}



.minisios1{
  position: relative;
  bottom: 330%;
}


.minisios2{
  position: relative;
  bottom: 330%;
}



.minisios3{
  position: relative;
  bottom: 330%;
}



.ticketbackground{
  position: relative;
  bottom: 1000px;
  background-color: #fff;
  max-width: 100vw;
  min-height: 70vw;

}


.red1{
  color: black;
}

.span1{
  font-size: 70px;
  position: absolute;
  top: 10%;
  left: 52%;
  transform: translateX(-50%);
  text-align: center;
}


.ticketN1{
  height: 250px;
  max-width: 290px;
  /* border: 1px solid black; */
  position: absolute;
  top: 25%;
  left: 19%;
  transform: translateX(-50%);
  text-align: center;
  padding: 32px;
  margin: 80px;
}


.oka{
  position: relative;
  top: 10%;
  padding-left: 10px;
  color: black;
  font-size: 40px;
  max-height: 234px;
  max-width: 96px;
  font-weight: bold;
}


.boka{
  position: relative;
  top: 15px;
}


.loka{
  position: relative;
  top: 30%;
  background-color: rgb(255, 0, 0);
  color: white;
  width: 100px;
  height: 50px;
  left: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}



.ticketN2{
  height: 250px;
  max-width: 290px;
  position: absolute;
  top: 295%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 32px;
  margin: 80px;
}


.okaN2{
  position: relative;
  top: 10%;
  padding-left: 10px;
  color: black;
  font-size: 40px;
  max-height: 234px;
  max-width: 96px;
  font-weight: bold;
}


.bokaN2{
  position: relative;
  top: 15px;
}


.lokaN2{
  position: relative;
  top: 30%;
  background-color: rgb(255, 0, 0);
  color: white;
  width: 100px;
  height: 50px;
  left: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}



.ticketN3{
  height: 250px;
  max-width: 290px;
  position: absolute;
  top: 295%;
  right: 10px;
  transform: translateX(-50%);
  text-align: center;
  padding: 32px;
  margin: 80px;
}


.okaN3{
  position: relative;
  top: 10%;
  padding-left: 10px;
  color: black;
  font-size: 35px;
  max-height: 234px;
  max-width: 96px;
  font-weight: bold;
}


.bokaN3{
  position: relative;
  top: 15px;
}




.lokaN3{
  position: relative;
  top: 30%;
  background-color: rgb(255, 0, 0);
  color: white;
  width: 100px;
  height: 50px;
  left: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}


.last-partfinaly{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);

}

.last-partimg{
  grid-column: 1/2;
  grid-row: 1/1;
}

.textsadasd{
  color: black;
  background-color: red;
  grid-column: 2/2;
  grid-row: 2/1;
}


.spanisasdsadsa1{
  color: white;
  font-size: 50px;
  position: absolute;
  top: 510%;
  left: 76%;
  transform: translateX(-50%);
  text-align: center;
}


.joinus{
  font-size: 25px;
  color: white;
  position: absolute;
  top: 520%;
  left: 76%;
  transform: translateX(-50%);
  text-align: center;
}


.Kenny21{
  position: absolute;
  top: 542%;
  left: 76%;
  transform: translateX(-50%);
  text-align: center;
}

.join-button{
  position: absolute;
  top: 545%;
  left: 76%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}






.sdddn21{
  background-color: white;
  grid-column: 1/1;
  grid-row: 1/1;
  position: relative;
  top: 25%;
  max-width: 490px;
  max-height: 348px;
  justify-content: center;
  text-align: center;
  align-items: center;
  left: 20%;
}



.display-grid{
  position: relative;

}



.spanny1{
  position: relative;
  top: 20px;
  left: 37%;
  font-size: 25px;
}

.spanny2{
  position: relative;
  top: 100px;
  right: 10%;
  color: black;
  font-size: 35px;
}

.sadas212{
  position: relative;
  top: 100px;
  right: 0%;
  font-size: 35px;
}


.spanny3{
  margin-right: 43%;
}


.email{
  position: relative;
  top: 120px;
  left: 20px;
  text-align: left;
}


.text12{
  width: 90%;
  height: 40px;
}


.checkbox1223{
  margin-top: 32%;
  margin-right: 0%;
  transform: scale(1.5);
}


.asdfe3213{
  margin-left: 50%;
  position: relative;
  bottom: 30px;
  background-color: orangered;
  color: white;
  width: 174px;
  height: 41px;
  border: #fff;
}

