 *{
  margin: 0;
  padding: 0;
}



.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 20px;
}

.center{
  display: flex;
  gap: 5rem;  
  font-size: 20px;
  font-weight: bold;
   margin-left: auto;
}

.center a {
  text-decoration: none;
  color: gray;
}

.logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 20px;
}


.logos{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
}


.social-icons{
  display: flex;
  gap: 1rem;
  color: black;
  font-size: 20px;
}

.fa-football{
  width: 20px;
  height: 20px;
  font-size: 30px;
  transform: rotate(135deg);
  color: red;
}
.atag4{
  margin-right: 10px;
}


.login{
  border: 0;
  height: 20px;
  background-color: white;
}



.center{
  color: red;
  transition: color 0.3s;
}

.center a:hover{
  color: red;
}



.asd123{
  background-image: url(./photos/first.png);
  background-size: cover;
  background-repeat: no-repeat; 
  min-height: 100vh;
  
}






.text1{
  font-size: 14px;
  letter-spacing: 3px;
  padding-top: 100px ;  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}


.text2{
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.black12{
color: black;
}


.red9909{
color: red;
}


.text3{
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.cardy{
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  border-radius: 8px;
  margin-top: -10rem;
  z-index: 1;
}



.cardy-imgy{
  width: 50%;
  object-fit: cover;
}


.card-content{
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.author{
  display: flex;
  align-items: center;
}


.avatar{
  width: 40px;
  background: #ffffff;
  border-radius: 50%;
}


.author-info321{
  display: flex;
  align-items: center;
  gap: 10px;
}


.author-name21341{
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}


.just-daysinfo{
  font-size: 12px;
  color: black;
  display: flex;
  flex-direction: column;

}



.hetor1{
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 28px;
  margin: 0 0 15px 0;
}


.blog{
  color: black;
  margin-bottom: 20px;
}


.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid black;
}

.stats{
  display: flex;
  gap: 15px;
  font-size: 13px;
  color: gray;
}


.heartys{
  color: red;
}



.secondbackground{
 background-color: #ffffff;
 height: 30rem;
 margin: 0 auto;
 display: flex;
}


.main-minicomments{
  height: 290px;
  width: 190px;
  display: grid;
  grid-template-columns: repeat(3.1fr);
  gap: 20px;
  margin-left: 30rem;
  margin-top: -23rem;
  z-index: 1;
}

.box1{
  grid-column: 1/1;
}

.box2{
  grid-column: 2/2;
}

.box3{
  grid-column: 3/3;
}
.mini-img1{
  height: 190px;
  width:  290px;
}

.mini-img2{
  height: 190px;
  width:  290px;
}

.mini-img3{
  height: 190px;
  width:  290px;
}



.spn1{
 font-weight: bold;
 font-size: 15px;
 text-align:left;
 padding-left: 24px;
}


.spn1:hover{
  color: red;
}

.vkh2{
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spn4289{
  margin-right: 8rem;
}


.oka2321{
  font-size: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 1000;
  padding-top: 10rem;
  padding-left: 7rem;
}

.ticketbackground{
  background-image: url(./photos/second-background.png);
  justify-content: center;
  width: 100%;
  height: 50vh; 
  background-size: cover;
  margin: 0 auto;
}
.tiketboxs{
  display: flex;
  gap: 20rem;
  margin: 0 auto;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
 }



   
     



.ticketN1{
  display: flex;
  width: 100px;
  height: 100px;
  text-decoration: none;  
  
}
.boka{
  white-space: nowrap;
}

.oka{
 font-size: 30px;
 text-align: center;
 font-weight: 1000; 
 
 
}
.ticketN2{
  display: flex;
  width: 100px;
  height: 100px;
  text-decoration: none;  
}

.bokaN2{
  white-space: nowrap;
}
.okaN2{
  font-size: 30px;
  text-align: center;
  font-weight: 1000;
  }

.ticketN3{
  display: flex;
  width: 100px;
  height: 100px;
  text-decoration: none; 
}

.bokaN3{
  white-space: nowrap;

}

.okaN3 {
  font-size: 30px;
  text-align: center;
  font-weight: 1000;
}


.plsa1{
  font-size: 4rem;
  color: red;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 1000;
}

.plsa2{
  font-size: 4rem;
  color: red;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 1000;

}

.bai {
    border: none;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;  
    background-color: orangered;
    color: #ffffff;
  } 

.bai:hover{
  color: red;
}



/* bolo nawili */
.last-partfinaly{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15rem;
  
}

.qweqwe {
  grid-template-rows: repeat(4, 1 fr);
  background-color: orangered;
  width: 50rem;
  height: 50vh;
  text-align: center;
  width: 100%;
  grid-column: 2/2;
  }


.redteqst{
  padding-top: 20px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.t1p{
  font-size: 20px;
}

.pteqsti {
font-size: 20px;
text-align: center;
justify-content: center;
align-items: center;
padding-top: 2rem;
font-size: 15px;
color: #ffffff;
}

.fan{
  color: #ffffff;
  padding: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Readmore {
  background-color: black;
  color: #ffffff;
  height: 2rem;
  width: 7rem;
  border: none;
}

/* .sdddn21{
  grid-column: 1/1;
  background-color: red;
}

.textsadasd{
  grid-column: 2/2;
} */


.idk1213{
  background-image: url(./photos/lastimg.png);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.styleing{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: -10px; 
  background-color: #ffffff;
  height: 17rem;
  width:  27rem;
  border: #ffffff 1px;
  border-radius: 4%;
}


.pirvelixazi{
  margin-top: 5px;
}

.meorexazi{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  font-size: 1.5rem;
}



.labels{
display: flex;
padding-top: 0.9rem;
padding-left: 2rem;
}

.textisadgili{
  padding-top: 2rem;
  height: 0.5rem;
  width: 23rem;
}


.checkmainbox{
 display: flex;
 padding-left: 1.9rem;
 padding-top: 1.7rem;
 


}

.checkbox1223{
  display: flex;
  margin-top: 1rem;
  
}

.yes{
  text-align: left;
  font-size: 15px;
  padding-left: 1rem;
  
}
.sab{
  background-color: orangered;
  color: #ffffff;
  height: 2rem;
  width: 7rem;
  border: none;
  margin-left: 5rem;
  
  
}


@media (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 20px;
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 15px;
        font-size: 16px;
    }
}


@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}