* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}



.head {
  position: relative;
  left: 300px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;   
  width: 100%;
}





.new {
  font-size: clamp(24px, 4vw, 60px);
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: red;
}



.background {
  background-image: url(first.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
}






.first-comment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 80px auto;
  border: 2px solid black;
  position: relative;
  bottom: 700px;
  max-width: 600px;
  height: 400px;
}


.first-img-comment{
  max-width: 300px;
  max-height: 600px;
  grid-row: 1/2;
  grid-column: 1/2;
}


.comment-text {
  background: white;
  text-align: center;
  grid-row: 1/1;
  grid-column: 2/3;
  max-width:  300px;
  height: 400px;
}


.minicoments {
  background: #fff;
  padding: 60px 20px;
}

.mini-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  max-width: 1100px;
  margin: auto;
}

.miniimg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.mini-content {
  font-size: 16px;
  line-height: 1.4;
}



.footer {
  
  text-align: center;
  padding: 40px 20px;
  border-top: 2px solid black;
}







.span-text{
   font-size: 20px;
   position: absolute;
   top: 15%;
   left: 50%;
   transform: translateX(-50%); 
   text-align: center;
}


.span213{
   font-size: 80px;
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

.black{
 color: black;
}

.red{
   color: red;
}

.spanN3{
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

